/* Tailwind CSS overrides for MarkdownViewer component */
@import 'tailwindcss';

.markdown > * + * {
  @apply mt-0 mb-2;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-4;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-2xl font-semibold mb-2 mt-4 pb-1;
}

.markdown h2 {
  @apply leading-tight border-b text-xl font-semibold mb-2 mt-4 pb-1;
}

.markdown h3 {
  @apply leading-snug text-base font-semibold mb-2 mt-4;
}

.markdown h4 {
  @apply leading-none text-sm font-semibold mb-2 mt-4;
}

.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-2 mt-4;
}

.markdown h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-2 mt-4;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-5;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-base pl-5 list-disc;
}

.markdown ol {
  @apply text-base pl-5 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-5 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}
